
.form{
    margin-top: 200px;
    MARGIN-LEFT: 250PX;
  
}
.form input{ 
width: 200px;
height: 50px;
border-radius: 10px;

}
.name{
    margin-left: 30px;
}
.form input:focus-visible{
    outline: none;
}
.form button{
    width: 200px;
    height: 50px;
    display: block;
    margin-left: 300px;
    margin-top: 80px;
    border-radius: 10px;
 
}
.subDiv{
display: flex;
}
.usersDiv{
   
    width: 250px;
    height: 450px;
}
.usersDiv img{
    width: 250px;
    height: 300px;
}
.usersDiv h2{
    text-align: center;
}
.btn{
    position: absolute;
    right: 150px;

}
.buttonClass{
    width: 100px;
    height: 50px;
    position: absolute;
    left: 80px;
  
}
.desDiv img{
width: 400px;
height: 500px;
}