.form{
    width: 260px;
    position: absolute;
    left: 500px;
    top: 150px;
    text-align: center;
    background: rgb(243, 243, 150);
    height: 250px;
    width: 180px;
    align-items: center;
    justify-content: center;
    padding: 60px;
}
.movieCard{
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: row;
}
.movieCard img{
    width: 200px;
    height: 300px;
}
main{
    width: 800px;
    height: auto;
    position: relative;

}
.main h1{
    text-align: center;
}