.howtobuy {
  width: 100%;
  text-align: center;
}
.countClass {
  padding: 10px;
  border-radius: 50%;
  /* background-color: #009cde; */
  text-align: center;
  color: white;
  font-size: 20px;
  width: 25px;
  height: 25px;
  font-weight: bold;
  margin-left: 46px;
  box-shadow: 0 2px 4px 0 rgba(0, 156, 222, 0.3);
}
.line2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
}
.headingClass {
  font-family: Rubik;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000808;
  margin-bottom: 0px;
  margin-top: 15px;
  margin-left: 18px;

}
.desClass {
  font-family: NunitoSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #637696;
  margin-top: 15px;
  width: 330px;
}
.imgClass{
    width: 60px;
    height: 60px;
}